.CardOne{
    background-color:#5bc1ef !important;
    border: none !important;
    height:100px !important;
}

.CardTwo{
    background-color: #f87668 !important;
    border: none !important;
    height:100px !important;
}

.CardThree{
    background-color: #97d2d7 !important;
    border: none !important;
    height:200px !important;
}
.CardMid{
    background-color: #5ebaaf !important;
    border: none !important;
}

.CardLest{
    background-color: #3a8ef0 !important;
    border: none !important;
}
.CardLestTwo{
    background-color: #3a8ef0 !important;
    border: none !important;
}

.imageImport{
    height: 20px;
    right:20px

}
.abcd{
    z-index: 1;
}

@media only screen and (max-width:767px ) {
    .bigcard{
    margin-top:10px ;
    }

    .CardLest{
        margin-top: 20px;
    }
  }

