.searchBr{
  border: 1px solid #dcdcdc;
  width: 50%;
}
.form-control:focus{
  box-shadow: none !important;
}

@media only screen and (max-width:1080px ) {  
  .parentSearch .mainbotton{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    width: 100%;
  }
}

@media only screen and (max-width:768px ) {  
  .parentSearch{
  }
}
