.app{
  height: 100vh !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.LeftSideBar{
  height: 100vh;
  background-color: #f8f9fa;
  background: #00000012;
}

.sidecard{
  background-color: #f8f9fa57;
}

.bg{
  z-index: -1;
  position: absolute;
  top:0;
  right:0
}
.LeftSideBar .mainbotton{
  width: 100%;
}